<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href="http://www.htmlpreviews.com/cloud/travel/hosphere6/css/style.css" rel="stylesheet">
</head>
<body>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 

      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="#">tourism</a></h1>
        <a href="#" class="submenu">Menus</a> </div>
      <div class="menuBar">
        <ul class="menu">
          <li class="active"><a href="/home/index">Home</a></li>
          <%  if session[:user_present] == "false" %>
          <li><a href="/home/login">Login</a></li>
          <li><a href="/home/signup">Signup</a></li>
          <% else %>
          <li><a href="/home/logout">Logout</a></li>
          <% end %>
          <li><a href="/home/places">places</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item"> <img data-src="images/slider/slider.jpg" alt="first slide" src="<%= image_path('first.jpg') %>">
        <div class="container">
          <div class="carousel-caption">
            <h1>Tourists don’t know where they’ve been, travelers don’t know where they’re going.</h1>
            <p><a class="btn btn-default btn-lg" href="#" role="button">get started</a></p>
          </div>
        </div>
      </div>
      <div class="item"> <img data-src="images/slider/slider1.jpg" alt="second slide" src="<%= image_path('second.jpg') %>">
        <div class="container">
          <div class="carousel-caption">
            <h1>The world is a book and those who do not travel read only one page.</h1>
            <p><a class="btn btn-default btn-lg" href="#" role="button">get started</a></p>
          </div>
        </div>
      </div>
      <div class="item active"> <img data-src="images/slider/slider2.jpg" alt="third slide" src="<%= image_path('third.jpg') %>">
        <div class="container">
          <div class="carousel-caption">
            <h1>Experience the uncommon element.</h1>
            <p><a class="btn btn-default btn-lg" href="#" role="button">get started</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="index.html#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a> <a class="right carousel-control" href="index.html#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a> </div>
</section>
<!--end of slider section-->
<section class="main__middle__container homepage">
  <div class="row three__blocks text-center no_padding no-margin">
    <div class="container">
      <div class="col-md-4">
        <h3><a href="#">Modern Design</a></h3>
        <img src="<%= image_path('1.jpg') %>" alt="image" class="img-responsive img-rounded">
        <p>Bordeaux has always been a dynamic, cosmopolitan city and never ceases to reveal exciting.</p>
        <p><a class="btn btn-primary btn-md" href="/home/first" role="button">Learn more</a> 
      </div>
      <div class="col-md-4 middle">
        <h3><a href="#">High Quality</a></h3>
        <img src="<%= image_path('2.jpg') %>" alt="image" class="img-responsive img-rounded" style="width:auto">
        <p>In Malta you can span the millennia with an astonishing array of things to discover </p>
        <p><a class="btn btn-primary btn-md" href="/home/second" role="button">Learn more</a> 
      </div>
      <div class="col-md-4">
        <h3><a href="#">Quick Support</a></h3>
        <img src="<%= image_path('3.jpg') %>" alt="image" class="img-responsive img-rounded">
        <p>Innsbruck, the capital of the Alps, is a vibrant and refreshing city that combines alpine </p>
        <p><a class="btn btn-primary btn-md" href="/home/third" role="button">Learn more</a> 
      </div>
    </div><br>
    <div class="container">
      <div class="col-md-4">
        <img src="<%= image_path('4.jpg') %>" alt="image" class="img-responsive img-rounded">
        <p>Milan has been interesting and vibrant at least since it was the capital of the western half of the Roman Empire..</p>
        <p><a class="btn btn-primary btn-md" href="/home/fourth" role="button">Learn more</a> 
      </div>
      <div class="col-md-4 middle">
        <img src="<%= image_path('5.jpg') %>" alt="image" class="img-responsive img-rounded" style="width:auto">
        <p>Brussels, the capital of 500 million Europeans, is waiting to share its treasures and talents with you and to tell you its story.</p>
        <p><a class="btn btn-primary btn-md" href="/home/fifth" role="button">Learn more</a> 
      </div>
      <div class="col-md-4">
        <img src="<%= image_path('6.jpg') %>" alt="image" class="img-responsive img-rounded">
        <p>Vienna's Ringstrasse is the most beautiful boulevard in the world and so many representative buildings </p>
        <p><a class="btn btn-primary btn-md" href="/home/sixth" role="button">Learn more</a> 
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>About</h3>
        <p> Every year European Best Destinations organizes the election of the best destination in Europe and our 2016 winner is amazing Zadar. <br />
          <br />
          Don’t forget to join us on social networks to keep abreast of the best events and destinations in Europe. </p>
      </div>
      <div class="col-md-3">
        <h3>Tweets</h3>
        <p><span>Tweet</span> <a href="https://twitter.com/ebdestinations">@You</a><br />
          To see the inner beauties of the europe hear. </p>
      </div>
      <div class="col-md-3">
        <h3>Mailing list</h3>
        <p>Subscribe to our mailing list for offers, news updates and more!</p>
        <br />
        <form action="#" method="post" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">your email</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="your email">
          </div>
          <button type="submit" class="btn btn-info btn-md">subscribe</button>
        </form>
      </div>
      <div class="col-md-3">
        <h3>Social</h3>
        <p>123 Business Way<br />
          San Francisco, CA 94108<br />
          USA<br />
          <br />
          Phone: (888) 123-4567<br />
          Fax: (887) 123-4567<br />
          <br />
        </p>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> <a href="#" class="socialicon socialicon-mail"></a> </div>
      </div>
    </div>
  </div>
</footer>
<p class="text-center copyright">&copy; Copyright Tourism.com All Rights Reserved.</p>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="http://www.htmlpreviews.com/cloud/travel/hosphere6/js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="http://www.htmlpreviews.com/cloud/travel/hosphere6/js/bootstrap.min.js"></script> 
<script type="text/javascript">

$('.carousel').carousel({
  interval: 10500, 
  pause: 'none' 
})
</script> 
<script type="text/javascript">
$( "a.submenu" ).click(function() {
$( ".menuBar" ).slideToggle( "normal", function() {
// Animation complete.
});
});
$( "ul li.dropdown a" ).click(function() {
$( "ul li.dropdown ul" ).slideToggle( "normal", function() {
// Animation complete.
});
$('ul li.dropdown').toggleClass('current');
});
</script>
</body>
</html>